// @import 'bootstrap/scss/bootstrap.scss';
// @import 'main';
// @import 'text';

.test {
  border: 1px solid yellow !important;
}

.kviz-select-field {
  .vs__dropdown-toggle{
    height: 45px;
  }
  
  ul {
    padding-left: 0 !important;
  }
}

.kviz-select-field.vs--open {
  .vs__selected{
    height: 35px;
  }
}

.my-swiper-button-prev {
  left: 10px;
  right: auto;
  position: absolute;
  top: 45%;
  cursor: pointer;
  z-index: 10;
}

.my-swiper-button-next {
  right: 10px;
  left: auto;
  position: absolute;
  top: 45%;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after
{
  display: none;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

* {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  box-sizing: content-box;
  scrollbar-width: none;
}

::before, ::after {
  box-sizing: content-box !important
}

button:focus {
  outline: none;
}

.vh100 {
  min-height: 100vh;
}

.h100 {
  min-height: 100%;
  height: 100%;
}

.w100 {
  width: 100%;
}
