body {
  background: none !important;
}

.bg1 {
  background: #07e9bb;
}

.start-page-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.start-page-footer{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  left: 0;
  right: 25px;
}

.pl-100 {
  padding-left: 100px;
}

.start-wrapper {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;

  .start-picture {
    width: 100%;
    height: 100vh;
  }

  .start-image {
    display: flex;
    flex: 1 1 50%;
    width: 50%;
  }

  .start-content {
    justify-content: center;
    padding-left: 100px;
    padding-right: 50px;
    display: flex;
    flex-flow: column;
    flex: 1 1 50%;
    width: 50%;
  }
}

.neiros_kviz_btn {
  box-shadow: none;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  width: 150px;
  margin-top: 0;
  background: #00b9ee;
  color: #fff !important;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative;
  font-size: 12px;
}

.neiros_kviz_btn:hover {
  background: #03a7d5;
}

.comment-textarea:focus,
.neiros__sidebar_form .neiros__input_form input:focus,
.neiros_kviz_btn:focus {
  outline: none;
}

.neiros_kviz_btn::after {
  content: '';
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    #fff 40%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0)
  );
  opacity: 0.6;
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.neiros_kviz_btn_next,
.neiros_kviz_btn_prev {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neiros_kviz_btn_prev {
  box-shadow: none;
  border: 2px solid #a8abb9;
  outline: none;
  font-family: 'Roboto';
  text-transform: uppercase;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  width: 135px;
  margin-top: 0px;
  background: none;
  color: #a8abb9;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative;
}

.neiros_kviz_btn_prev:hover {
  background: #e9e9e9;
}
.neiros_kviz_btn_prev:focus {
  outline: none;
}

.neiros_kviz_btn_prev img {
  padding-right: 5px;
}

.neiros_kviz_btn_next {
  box-shadow: none;
  border: none;
  outline: none;
  font-family: 'Roboto';
  text-transform: uppercase;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  width: 135px;
  margin-top: 0px;
  background: #00b9ee;
  color: #fff !important;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative;
}

.neiros_kviz_btn_next:hover {
  background: #03a7d5;
}

.neiros_kviz_btn_next:focus {
  outline: none;
}

.neiros_kviz_btn_next::after {
  content: '';
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    #fff 40%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0)
  );
  opacity: 0.6;
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.neiros_kviz_btn_next[disabled] {
  cursor: not-allowed;
}

.quiz-bar {
  background-color: #f5f6fa !important;
}

.quiz-blue span {
  background-color: #34c2e3 !important;
}

.quiz-stripes span {
  background-repeat: initial;
  position: relative;
  border-radius: 20px;
  display: block;
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -ms-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}

.message-chat-question {
  margin-top: 10px;
  // border-radius: 10px;
  // -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

  .tolltip {
    width: 100%;
    color: black;
    text-align: left;
    padding: 15px;
    border-radius: 7px;
    position: relative;

    /* Position the tooltip text - see examples below! */
    z-index: 1;
    -webkit-box-shadow: 0px 5px 10px 3px rgba(136, 156, 172, 0.2);
    -moz-box-shadow: 0px 5px 10px 3px rgba(136, 156, 172, 0.2);
    box-shadow: 0px 5px 10px 3px rgba(136, 156, 172, 0.2);
  }

  .tolltip::after {
    content: ' ';
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 10%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(231, 231, 231, 0.3) transparent;
  }
}

.file-block {
  width: 150px;
  text-align: center;
  background: #f5f6fa;
  border: 1px dashed #cdcdce;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 3px;

  label {
    width: 100%;
    cursor: pointer;

    img {
      width: 50%;
    }
  }
}

.finish-bonus-block.bonus-mini {
  .img {
    height: 98px !important;
  }
}

.bonus-step {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 300px;
  min-height: 95px;
  border-radius: 10px;
  background: linear-gradient(172deg, #001c60 36%, #000 199%);
  position: relative;
  box-shadow: 1px 1px 5px 0px rgb(50 50 50 / 75%);

  .img {
    margin: 7px 40px 7px 25px !important;
    width: auto !important;
    box-shadow: none !important;
    height: 90px;
  }

  .icon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px !important;
    height: 30px !important;
    box-shadow: none !important;
  }

  .text {
    position: relative !important;
    font-size: 19px;
    color: white;
    margin-right: 40px;
  }
}

.bonus-start {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 300px;
  min-height: 130px;
  border-radius: 10px;
  background: linear-gradient(172deg, #001c60 36%, #000 199%);
  position: relative;
  box-shadow: 1px 1px 5px 0px rgb(50 50 50 / 75%);

  .img {
    margin: 7px 70px 7px 25px !important;
    width: auto !important;
    box-shadow: none !important;
    height: 90px;
  }

  .img-start {
    margin: 7px 30px 7px 25px !important;
    width: auto !important;
    box-shadow: none !important;
    height: 90px;
  }

  .icon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px !important;
    height: 30px !important;
    box-shadow: none !important;
  }

  .icon-start {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    box-shadow: none !important;
  }

  .text {
    position: relative !important;
    font-size: 19px;
    color: white;
    margin-right: 75px;
  }

  .text-start {
    position: relative !important;
    font-size: 19px;
    color: white;
    margin-right: 40px;
  }
}

.finish-bonus-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 162px;
  width: 341px;
  border-radius: 10px;
  background: linear-gradient(172deg, #001c60 36%, #000 199%);
  position: relative;
  box-shadow: 1px 1px 5px 0px rgb(50 50 50 / 75%);
  flex-basis: 50%;

  .img {
    margin: 7px 70px 7px 25px !important;
    width: auto !important;
    box-shadow: none !important;
    height: 160px;
  }

  .icon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px !important;
    height: 30px !important;
    box-shadow: none !important;
  }

  .text {
    position: relative !important;
    font-size: 19px;
    color: white;
    margin-right: 75px;
  }
}

.text-bonus-dop {
  font-family: 'Roboto lighti talic';
  color: #606060;
  font-size: 11px;
  padding-left: 5px;
  padding-top: 5px;
}

.comment-textarea {
  min-height: 100px;
  overflow-y: hidden;
  font-family: 'Roboto Light';
  overflow: hidden;
  white-space: normal;
  width: auto;
  min-width: 100%;
  max-width: 100%;
  resize: none;
  flex-direction: initial;
  box-sizing: border-box;
  position: relative;
  font-size: 13px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 11px 15px 0px 15px;
}

.my-swiper-scrollbar {
  position: relative !important;

  .swiper-scrollbar-drag {
    background: #0c5adb;
  }
}

.swiper-slide-block.select-poll {
  .svg-slider {
    display: block;
  }
}

.svg-slider {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 12px;
}

// img.test-svg g path {
//   fill: #001c60 !important;
// }

// .logo-svg{
//   background-color: red;
//   -webkit-mask: url('/images/icons/check.svg') no-repeat center;
//   mask: url('/images/icons/check.svg') no-repeat center;
// }

.radio-image-variant {
  max-height: 300px;
  // height: 800px;
}

.quiz-container {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  height: 85%;
}

.quiz-progress {
  height: 15%;
}

.vs__dropdown-option--highlight {
  background: #f0f0f0 !important;
  color: black !important;
}

.btn-skip-step {
  background-color: #bbc1c5;
  border-color: #bbc1c5;
}

.btn-skip-step,
.btn-skip-step:focus,
.btn-skip-step:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-skip-step:hover {
  background-color: #a6acb1;
  border-color: #a6acb1;
}

.vs__selected-options input::placeholder {
  color: #999 !important;
}

.mx-time-column .mx-time-list::after {
  content: none !important;
}

.slider-arrow-left {
  width: 30px;
  height: 30px;

  path {
    fill: #bbc1c5;
  }
}

.rotate180x {
  transform: rotate(180deg);
}

.check-square-svg {
  width: 14px;
  height: 14px;
}

.tooltip-svg {
  width: 10px;
  height: 10px;
  margin-top: -20px;
  position: relative;
}

.neiros__container_kviz .neiros__block_kviz_right::-webkit-scrollbar {
  width: 5px;
}

.neiros__container_kviz .neiros__block_kviz_right::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.neiros__container_kviz .neiros__block_kviz_right::-webkit-scrollbar-thumb {
  background-color: rgb(218, 218, 218);
  outline: 1px solid rgb(255, 255, 255);
}

.neiros__answer-variants__textVariant,
.swiper-slide .swiper-slide-block {
  transition: all 0.2s ease-in-out;
}


.neiros__xs {
  .finish-bonuses {
    flex-flow: row wrap;
  }
  
  .finish-bonus-block {
    flex-basis: 100%;
    margin: 0 0 20px;

    .text {
      font-size: 21px;
    }
  }

  .neiros__footer {
    position: relative !important;
  }

  .quiz-progress-mobile {
    display: flex;
  }

  .quiz-progress-desktop{
    display: none;
  }
}

.quiz-progress-desktop{
  display: block;
}

.finish-bonuses {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
  margin-top: 20px;
}

.quiz-progress-mobile{
  padding: 10px 20px;
  z-index: 2;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #86878A;

  .progress-block {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-right: 15px;
  }

  .btn-block,
  .progress-block{
    flex-basis: 50%;
  }

  .neiros_kviz_btn_prev{
    background-color: white;
    height: 60px;
    width: 60px;
    border: none;
  }

  .neiros_kviz_btn_next{
    height: 60px;
  }
}