.start-wrapper {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;

  .start-picture {
    width: 100%;
    height: 100vh;
  }

  .start-image {
    display: flex;
    flex: 1 1 50%;
    width: 50%;
  }

  .start-content {
    justify-content: center;
    padding-left: 100px;
    padding-right: 50px;
    display: flex;
    flex-flow: column;
    flex: 1 1 50%;
    width: 50%;
  }
}

.neiros_kviz_btn {
  box-shadow: none;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  width: 150px;
  margin-top: 0;
  background: #00b9ee;
  color: #fff !important;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative;
  font-size: 12px;
}

.neiros_kviz_btn:hover {
  background: #03a7d5;
}

.neiros_kviz_btn:focus {
  outline: none;
}

.neiros_kviz_btn::after {
  content: '';
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    #fff 40%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0)
  );
  opacity: 0.6;
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.neiros_kviz_btn_next,
.neiros_kviz_btn_prev {
  height: 50px;
}

.neiros_kviz_btn_prev {
  box-shadow: none;
  border: 2px solid #a8abb9;
  outline: none;
  font-family: 'Roboto';
  text-transform: uppercase;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  width: 135px;
  margin-top: 0px;
  background: none;
  color: #a8abb9;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative;
}

.neiros_kviz_btn_prev:hover {
  background: #e9e9e9;
}
.neiros_kviz_btn_prev:focus {
  outline: none;
}

.neiros_kviz_btn_prev img {
  padding-right: 5px;
}

.neiros_kviz_btn_next {
  box-shadow: none;
  border: none;
  outline: none;
  font-family: 'Roboto';
  text-transform: uppercase;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  width: 135px;
  margin-top: 0px;
  background: #00b9ee;
  color: #fff;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative;
}

.neiros_kviz_btn_next:hover {
  background: #03a7d5;
}

.neiros_kviz_btn_next:focus {
  outline: none;
}

.neiros_kviz_btn_next::after {
  content: '';
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    #fff 40%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0)
  );
  opacity: 0.6;
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.neiros_kviz_btn_next[disabled] {
  cursor: not-allowed;
}

.quiz-bar {
  background-color: #f5f6fa !important;
}

.quiz-blue span {
  background-color: #34c2e3 !important;
}

.quiz-stripes span {
  background-repeat: initial;
  position: relative;
  border-radius: 20px;
  display: block;
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -ms-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}

.message-chat-question {
  margin-top: 10px;
  // border-radius: 10px;
  // -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

  .tolltip {
    width: 100%;
    color: black;
    text-align: left;
    padding: 15px;
    border-radius: 7px;
    position: relative;

    /* Position the tooltip text - see examples below! */
    z-index: 1;
    -webkit-box-shadow: 0px 5px 10px 3px rgba(136, 156, 172, 0.2);
    -moz-box-shadow: 0px 5px 10px 3px rgba(136, 156, 172, 0.2);
    box-shadow: 0px 5px 10px 3px rgba(136, 156, 172, 0.2);
  }

  .tolltip::after {
    content: ' ';
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 10%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(231, 231, 231, 0.3) transparent;
  }
}

.file-block {
  width: 150px;
  text-align: center;
  background: #f5f6fa;
  border: 1px dashed #cdcdce;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 3px;

  label {
    width: 100%;
    cursor: pointer;

    img {
      width: 50%;
    }
  }
}

.finish-bonus-block.bonus-mini {
  .img {
    height: 98px !important;
  }
}

.bonus-start {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  background: linear-gradient(172deg, #001c60 36%, #000 199%);
  position: relative;
  box-shadow: 1px 1px 5px 0px rgb(50 50 50 / 75%);

  .img {
    margin: 7px 70px 7px 25px !important;
    width: auto !important;
    box-shadow: none !important;
    height: 90px;
  }

  .icon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px !important;
    height: 30px !important;
    box-shadow: none !important;
  }

  .text {
    position: relative !important;
    font-size: 19px;
    color: white;
    margin-right: 75px;
  }
}

.finish-bonus-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  // height: 142px;
  width: 341px;
  border-radius: 10px;
  background: linear-gradient(172deg, #001c60 36%, #000 199%);
  position: relative;
  box-shadow: 1px 1px 5px 0px rgb(50 50 50 / 75%);
  flex-basis: 50%;

  .img {
    margin: 7px 70px 7px 25px !important;
    width: auto !important;
    box-shadow: none !important;
    height: 200px;
  }

  .icon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px !important;
    height: 30px !important;
    box-shadow: none !important;
  }

  .text {
    position: relative !important;
    font-size: 19px;
    color: white;
    margin-right: 75px;
  }
}

.text-bonus-dop {
  font-family: 'Roboto lighti talic';
  color: #606060;
  font-size: 11px;
  padding-left: 5px;
  padding-top: 5px;
}

.comment-textarea {
  min-height: 100px;
  overflow-y: hidden;
  font-family: 'Roboto Light';
  overflow: hidden;
  white-space: normal;
  width: auto;
  min-width: 100%;
  max-width: 100%;
  resize: none;
  flex-direction: initial;
  box-sizing: border-box;
  position: relative;
  font-size: 13px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 11px 15px 0px 15px;
}

.my-swiper-scrollbar {
  position: relative !important;

  .swiper-scrollbar-drag {
    background: #0c5adb;
  }
}
