.txt1 {
  font-family: 'Roboto Medium';
  margin-top: 50px;
  margin-bottom: 10px;
  color: #111;
  // font-size: 18px;
  // font-weight: bold;
}

.txt-13 {
  font-size: 13px;
}

.txt-14 {
  font-size: 14px;
}

.txt-grey1 {
  color: #a8abb9;
}
